.list {
  display: flex;
  width: 100%;
  &__container {
    flex: 6;
    .productList {
      padding: 20px;
    }

    .productListItem {
      display: flex;
      align-items: center;
    }

    .productListImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    .productListEdit {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
    }
    .productListDelete {
      color: red;
      cursor: pointer;
    }
    .productListEditDisabled {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #c7c7c7;
      color: white;
      cursor: pointer;
      margin-right: 20px;
      cursor: not-allowed !important;
      pointer-events: none;
    }

    .productListDeleteDisabled {
      color: #c7c7c7;
      cursor: not-allowed !important;
      pointer-events: none;
    }
  }
}
.add-new {
  color: #fff !important;
  background-color: #414c7f !important;
  margin-bottom: 5px !important;
  padding: 8px 10px !important;
  border-radius: 5px !important;
}
.add-new:hover,
.add-new:focus {
  color: #fff !important;
  background-color: #414c7f !important;
  margin-bottom: 5px !important;
}
