.featured-articles {
	padding-block: 2rem;
}

.section-header-offset {
	margin-top: 7.4rem;
}

.featured-articles-container,
.featured-content {
	gap: var(--gap);
}

.headline-banner {
	background-color: var(--secondary-background-color);
	display: flex;
	align-items: center;
	gap: var(--gap);
	font-size: var(--font-size-xsm);
}

.headline {
	background-color: #000;
	color: var(--light-color);
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	padding: 4px;
	height: 100%;
}

.headline span {
	height: inherit;
}

.fancy-border {
	position: relative;
	overflow: hidden;
}

.fancy-border::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 100%;
	background: var(--gradient-color);
	background-size: 50% 100%;
	z-index: 5;
}

.fancy-border span {
	position: relative;
	z-index: 10;
	display: inline-flex;
	background-color: var(--secondary-background-color);
	padding: 0.6rem 1.5rem;
}

.article {
	position: relative;
	min-height: var(--item-min-height-md);
}

.article-image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.25s;
}

.article-category {
	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: 1rem;
	background-color: var(--primary-background-color);
	font-size: 1rem;
	color: var(--light-color);
	text-transform: uppercase;
	z-index: 10;
}

.article-data-container {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 2rem 1.5rem;
	background-color: var(--transparent-dark-color);
	z-index: 10;
	transition: background-color 0.5s;
}
/* Light theme color hover styles */
.article:hover .article-data-container {
	background-color: var(--hover-dark-color);
	color: var(--hover-light-color);
}

.article:hover .article-data-spacer {
	background-color: var(--hover-light-color);
}

.article:hover .article-title {
	color: var(--hover-light-color);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}

.article-data {
	display: flex;
	align-items: center;
	gap: var(--gap);
	font-size: var(--font-size-xsm);
	margin-bottom: 1rem;
}

.article-data-spacer {
	width: 0.5rem;
	height: 0.5rem;
	background-color: var(--light-color-alt);
	transform: rotate(45deg);
}

.title {
	color: var(--light-color);
}

.article-title {
	font-size: var(--font-size-sm);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	line-clamp: 1;
	-webkit-box-orient: vertical;
}
.headline-description {
	width: 195px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}
