.justify-content-center {
	justify-content: center;
}
.pagination {
	padding-top: 3rem;
	display: flex;
	align-items: center;
	font-weight: 600;
	.page-item {
		border: 1px solid #cdcdcd;
		border-radius: 6px;
		--size: 32px;
		--margin: 6px;
		margin: 0 var(--margin);
		max-width: auto;
		min-width: var(--size);
		height: var(--size);
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		padding: 0 6px;
		user-select: none;
		&:hover {
			border-color: #00a562;
			color: #fff;
			background: #00a562;
		}
	}
	.active {
		border-color: #00a562;
		color: #fff;
		background: #00a562;
	}
}

// .pagination\:active {
// 	background: lighten(#202020, 3%);
// 	position: relative;
// }
