/* Quick read */
// .swiper-container {
// 	width: 480px;
// }

// @media screen and (min-width: 640px) {
// 	.swiper-container {
// 		width: 640px !important;
// 	}
// }

// @media screen and (min-width: 768px) {
// 	.swiper-container {
// 		width: 768px !important;
// 	}
// }
.section-title {
	position: relative;
	font-size: var(--font-size-md);
	margin-bottom: 6rem;
}

.section-title::after {
	content: attr(data-name);
	font-size: var(--font-size-lg);
	text-transform: uppercase;
	position: absolute;
	opacity: 0.1;
	top: 1.5rem;
	left: 2rem;
}

.article.swiper-slide {
	height: 40rem;
}

/* Quick read - Swiper */
.swiper-wrapper {
	height: auto;
}
.swiper-controls {
	width: 3.5rem;
	height: 3.5rem;
	background-color: var(--secondary-background-color);
}

.swiper-controls::after {
	font-size: 1.6rem;
	color: var(--light-color);
}

.swiper-pagination {
	bottom: 0.5rem !important;
}

.swiper-pagination-bullet {
	background-color: var(--light-color);
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: calc(var(--swiper-navigation-size) / 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
