/* Search */
.search-form-container {
	width: 100%;
	max-width: 100%;
	height: 100vh;
	background-color: var(--primary-background-color);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: flex;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.5s;
}

/* Form JavaScript styles */
.search-form-container.activated {
	opacity: 1;
	transform: scale(1);
}

.search-form-inner {
	gap: unset !important;
	width: 420px;
}
.postContainer {
	background-color: var(--secondary-background-color);
}
.autoContainer {
	width: 420px;
	overflow-y: scroll;

	mask-image: linear-gradient(to top, transparent, black),
		linear-gradient(to left, transparent 17px, black 17px);
	mask-size: 100% 20000px;
	mask-position: left bottom;
	-webkit-mask-image: linear-gradient(to top, transparent, black),
		linear-gradient(to left, transparent 17px, black 17px);
	-webkit-mask-size: 100% 20000px;
	-webkit-mask-position: left bottom;
	transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}
.autoContainer:hover {
	-webkit-mask-position: left top;
}

.option {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
}
.option:hover,
.option:focus {
	background-color: #d9d9d9;
}

.option,
span {
	text-transform: capitalize;
}

@media (max-width: 500px) {
	.search-form-inner {
		width: 335px;
	}

	.autoContainer {
		width: 335px;
	}

	.option {
		width: 315px;
	}
}
