/* Blog post */

.blog-post-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-block: 2.5rem;
}

.blog-post-title {
	font-size: clamp(2rem, 3vw, 4rem);
}

.blog-post-data .article-data {
	margin-bottom: 2.5rem;
}

.blog-post-data img {
	width: 100%;
	height: var(--item-min-height-sm);
	object-fit: cover;
	object-position: center 10%;
}

.blog-post-container .container {
	max-width: 90rem;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}

.quote {
	background-color: var(--secondary-background-color);
	padding: 2.5rem;
}

.quote p {
	font-style: italic;
}

.quote span {
	font-size: 5rem;
}

.author {
	gap: var(--gap);
}

.author {
	background-color: var(--secondary-background-color);
}

.author-image-box {
	position: relative;
	height: var(--item-min-height-sm);
}

.author-about {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.author-name {
	color: var(--light-color);
	font-weight: 400;
}

.author-about p {
	max-width: 50rem;
	margin-bottom: 1rem;
}

.author-about .social-media {
	margin-top: auto;
	margin-bottom: 0;
}

.article__tags__menu {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	line-height: 1.5;
	margin-top: 15px;

	.menu__item {
		margin-right: 1.5em;
		margin-bottom: 1em;
	}
	li a,
	p a {
		color: #00a562;
		border-bottom: 1px solid transparent;
		-webkit-transition: color, border-color 0.2s linear;
		transition: color, border-color 0.2s linear;
	}

	.menu__item a:hover {
		border-bottom-color: #00a562;
	}
}
@media (min-width: 575px) {
	.menu__item {
		margin-bottom: 5px;
		margin-top: 0;
		float: none;
		font-weight: 100;
		display: block;
		width: auto;
		padding-right: 4px;
	}
}
.post-content p,
.post-content span,
.post-content div {
	line-height: 1.8 !important;
	color: var(--light-color) !important;
	background-color: unset !important;
	font-size: 16px !important;
	font-family: var(--font-family) !important;
	text-align: justify !important;
}

.post-content a span,
.post-content a {
	color: #00a562 !important;
	border-bottom: 1px solid transparent;
}
.post-content a:hover {
	border-bottom-color: #00a562;
}
.crayons-reaction {
	display: flex !important;
	justify-content: center !important;
	gap: 23px !important;
	margin: 1rem 0;

	.crayons-reaction__count {
		font-size: 14px !important;
	}
}
.crayons-reaction--readinglist {
	cursor: pointer;
}
textarea {
	resize: none;
}
.post-content img {
	padding-top: 10px;
	padding-bottom: 25px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
