.chart {
  flex: 4;
  -webkit-box-shadow: var(--box-shadow);
  background-color: var(--secondary-background-color);
  box-shadow: var(--box-shadow);
  padding: 10px;
  color: gray;

  &__title {
    margin-bottom: 20px;
  }

  &__grid {
    stroke: rgb(228, 225, 225);
  }
}
