@import "../../assets/sass/variables.scss";
.dashboard {
  display: flex;
  &__container {
    flex: 6;
    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
    .charts {
      padding: 5px 20px;
    }
    .list-container {
      -webkit-box-shadow: var(--box-shadow);
      background-color: var(--secondary-background-color);
      box-shadow: var(--box-shadow);
      padding: 20px;
      margin: 20px;

      &__item {
        font-weight: $fontWeightMedium;
        color: $grayColor;
        margin-bottom: 15px;
      }
    }
  }
}
