@import "variables.scss";
.featured {
  $self: &;
  flex: 2;
  -webkit-box-shadow: var(--box-shadow);
  background-color: var(--secondary-background-color);
  box-shadow: var(--box-shadow);
  padding: 10px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $grayColor;

    .title {
      font-size: 16px;
      font-weight: $fontWeightMedium;
    }
  }

  &__bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    // Here, we use $self to get the correct scope
    #{$self}__chart {
      width: 100px;
      height: 100px;
    }

    #{$self}__title {
      font-weight: $fontWeightMedium;
      color: $grayColor;
    }

    #{$self}__amount {
      font-size: 30px;
    }

    #{$self}__desc {
      font-weight: 300;
      font-size: 12px;
      color: $grayColor;
      text-align: center;
    }

    #{$self}__summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        text-align: center;

        &__title {
          font-size: $primaryFontSize;
          color: $grayColor;
        }

        &__result {
          display: flex;
          align-items: center;
          margin-top: 10px;
          font-size: $primaryFontSize;

          &.positive {
            color: green;
          }

          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
