.list {
  display: flex;
  width: 100%;
  &__container {
    flex: 6;
    .productList {
      padding: 20px;
      .MuiDataGrid-root {
        border: none;
        border-radius: 0.4rem;
        background-clip: border-box;
        box-shadow: var(--box-shadow);
        color: var(--light-color);
        background-color: var(--secondary-background-color);
        .MuiIconButton-colorPrimary,
        .MuiTablePagination-root {
          color: var(--checkbox-color);
        }
        .MuiCheckbox-colorPrimary.Mui-checked {
          color: #088fde;
        }
      }
    }

    .productListItem {
      display: flex;
      align-items: center;
    }

    .productListImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
    }

    .productListEdit {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
    }
    .productListDownload {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #0000008a;
      color: white;
      cursor: pointer;
      margin-right: 20px;
    }
    .productListDelete {
      color: red;
      cursor: pointer;
    }
    .productListEditDisabled {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #c7c7c7;
      color: white;
      cursor: pointer;
      margin-right: 20px;
      cursor: not-allowed !important;
      pointer-events: none;
    }

    .productListDeleteDisabled {
      color: #c7c7c7;
      cursor: not-allowed !important;
      pointer-events: none;
    }
  }
}
.delete-item {
  color: #fff !important;
  background-color: #dc0c47 !important;
  margin-bottom: 5px !important;
  padding: 8px 10px !important;
  border-radius: 5px !important;
}

.delete-item:hover,
.delete-item:focus {
  color: #fff !important;
  background-color: #cc073f !important;
  margin-bottom: 5px !important;
}

.add-new {
  color: #fff !important;
  background-color: #414c7f !important;
  margin-bottom: 5px !important;
  padding: 8px 10px !important;
  border-radius: 5px !important;
}
.add-new:hover,
.add-new:focus {
  color: #fff !important;
  background-color: #414c7f !important;
  margin-bottom: 5px !important;
}
.css-wgai2y-MuiFormLabel-asterisk {
  color: red;
}
.MuiFormLabel-asterisk {
  color: red;
}
.datatableTitle button {
  text-transform: capitalize;
  color: #fff !important;
}
.datatableTitle span {
  font-weight: 500;
  padding-left: 5px;
}

.productList {
  padding: 16px;
}
.MuiPaper-root {
  background-color: var(--secondary-background-color) !important;
  color: var(--light-color) !important;
}
.MuiInputBase-input,
.MuiFormLabel-root,
.MuiChip-filled,
.MuiTypography-colorTextSecondary,
.rdw-image-modal-btn {
  color: var(--light-color) !important;
}
.rdw-editor-toolbar,
.rdw-dropdownoption-active {
  background: var(--secondary-background-color);
}

.rdw-dropdown-optionwrapper,
.rdw-dropdown-optionwrapper:hover,
.rdw-dropdown-optionwrapper:hover {
  background: var(--primary-background-color);
}
.rdw-dropdownoption-default:hover,
.rdw-dropdownoption-default:focus {
  background: var(--secondary-background-color);
}
.MuiDataGrid-root .MuiDataGrid-cell,
.MuiDataGrid-root .MuiDataGrid-columnsContainer {
  border-bottom-color: var(--border-row-datable-color) !important;
}
.MuiOutlinedInput-root {
  background-color: var(--input-background-color);
}
.sun-icon {
  display: none !important;
}
.dark-theme .sun-icon {
  display: block !important;
}

.moon-icon {
  display: block !important;
}

.dark-theme .moon-icon {
  display: none !important;
}
.MuiButton-textPrimary {
  color: var(--light-color) !important;
}
.MuiButton-outlinedSecondary {
  color: #f50057 !important;
}
.MuiTablePagination-actions button {
  color: var(--light-color2) !important;
}
.editor {
  border: 1px solid #b6b3b3;
  padding: 1px 5px;
  border-radius: 4px;
}
.DraftEditor-editorContainer a {
  color: #00a562 !important;
}
.rdw-editor-toolbar button {
  color: #414c7f !important;
}
.rdw-image-center img {
  width: 700px;
  height: auto;
}
