@import "../../assets/sass/variables.scss";

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #1e1e2d;
  box-shadow: 0 0 28px 0 rgb(82 63 105 / 5%);

  &__top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a27;
  }

  &__logo {
    font-size: 20px;
    font-weight: $fontWeightMedium;
    color: #fff;
  }

  &__center {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-weight: $fontWeightBold;
        color: #999;
        margin-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 12px;
      }

      li {
        cursor: pointer;

        .icon {
          font-size: 20px;
          color: #494b74;
        }

        .active {
          background-color: #1a1a27;
          a,
          span,
          svg {
            color: #fff;
          }
        }

        a {
          display: flex;
          align-items: center;
          text-decoration: none;
          font-size: $primaryFontFamily;
          font-weight: $fontWeightRegular;
          color: #9899ac;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 0.75rem;
          padding-bottom: 0.75rem;
          margin: 2px 0;
          &:hover,
          &:focus {
            background-color: #1a1a27;
            span,
            svg {
              color: #fff;
            }
          }
        }

        span {
          font-size: $primaryFontFamily;
          font-weight: $fontWeightRegular;
          color: #9899ac;
          margin-left: 10px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    margin: 10px;
  }
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  margin-left: 250px;
}
@media only screen and (max-width: 992px) {
  #main {
    margin-left: 70px !important;
  }
  .sidebar {
    width: 70px !important;
  }
  .sidebar__logo {
    display: none;
  }
  #logo {
    display: block !important;
  }
  .sidebar__center p,
  .sidebar__center span {
    display: none !important;
  }
}

.d-none {
  display: none !important;
}
.hide-content .sidebar__center p,
.hide-content .sidebar__center span {
  display: none !important;
}
.sidebar-collapse-show {
  width: 70px !important;
}
.main-coolapse-show {
  margin-left: 70px !important;
}
