//COLOR
$primaryColor: rgb(26, 26, 26);
$blackColor: rgb(26, 26, 26);
$whiteColor: rgb(232, 232, 232);
$grayColor: gray;

//FONT
$primaryFontFamily: "Roboto", sans-serif;
$primaryFontSize: 14px;

//FONTSIZE

//FONTWEIGHT
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;
$fontWeightBolder: 900;

//BEARKPOINT
$phones: 600px;
$portraitTablets: 600px;
$landscapeTablets: 768px;
$landscapeTablets: 600px;

//HEIGHT & WIDTH OF THE VIEWPORT
$fullScreenVH: 100vh;
$fullScreenVW: 100vw;

//Border
$borderRadiusCircle: 50%;
