@media screen and (min-width: 700px) {
	.trending-news-box {
		flex-direction: row;
		align-items: center;
	}

	.headline-description {
		width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.trending-news-img-box {
		width: 50%;
	}

	.trending-news-data {
		margin: auto;
		text-align: center;
	}

	.newsletter-description {
		max-width: 40rem;
	}

	.form-container-inner {
		align-items: center;
	}

	.popular-tags-container,
	.footer-container {
		grid-template-columns: repeat(2, 1fr);
	}

	.company-data {
		order: 0;
	}

	.author {
		grid-template-columns: 25rem 1fr;
	}
}

@media screen and (min-width: 768px) {
	.trending-news-data .article-title {
		width: 453px;
	}
	.featured-content {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 5rem repeat(4, 1fr);
	}

	.headline-banner {
		grid-column: 1/-1;
		font-size: var(--font-size-sm);
	}

	.featured-article {
		grid-column: 3/-1;
		grid-row: 2/4;
	}

	.featured-article-1 {
		grid-column: 1/3;
	}

	.featured-article-3 {
		grid-column: 1/-1;
		grid-row: 4/6;
	}

	.older-posts .article {
		grid-template-columns: 25rem 1fr;
	}

	.older-posts-article-image-wrapper {
		height: auto;
	}

	.blog-post-data img {
		height: var(--item-min-height-md);
	}
}

@media screen and (min-width: 1024px) {
	.trending-news-data .article-title {
		width: 230px;
	}
	.menu {
		position: static;
		width: initial;
		padding: initial;
		background-color: transparent;
		opacity: 1;
		transform: scale(1);
	}

	.menu > .list {
		flex-direction: row;
	}

	.screen-lg-hidden {
		display: none;
	}

	.screen-sm-hidden {
		display: block;
	}

	.sign-up-btn {
		padding: 4px;
	}

	/* Fancy button animation effect */
	.btn.fancy-border:hover::before {
		animation: animate_border 0.75s linear infinite;
	}

	@keyframes animate_border {
		to {
			transform: translateX(-50%);
		}
	}

	.featured-articles-container {
		grid-template-columns: 1fr 40rem;
	}

	.trending-news-img-box {
		width: 10rem;
		height: 10rem;
	}

	.popular-tags-container {
		grid-template-columns: repeat(3, 1fr);
	}

	.footer-container {
		grid-template-columns: repeat(5, 1fr);
	}

	.company-data {
		grid-column: span 2;
	}

	.company-description {
		max-width: 85%;
	}

	.copyright-notice {
		margin-top: auto;
	}

	.blog-post-data img {
		height: 40rem;
	}
}

@media screen and (min-width: 1200px) {
	.older-posts-grid-wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 1500px) {
	.featured-article {
		grid-column: 3/-1;
	}

	.featured-article-1 {
		grid-column: 1/3;
		grid-row: 2/-1;
	}
}
